@font-face {
    font-family: Gilroy-Light;
    src: url('./Gilroy-FREE/Gilroy-Light.otf');
}

@font-face {
    font-family: Gilroy-Bold;
    src: url('./Gilroy-FREE/Gilroy-ExtraBold.otf');
}

* {
    font-family: Gilroy-Light;
    padding: 0px;
    margin: 0px;
}

#nav_bar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
    padding: 20px;
    border-bottom: 1px solid rgb(207, 201, 201);
    vertical-align: middle;
    text-align: center;
}

#links {
    display: flex;
    align-items: center;
    justify-content: space-between;

    font-size: 20px;
}

#links span {
    padding: 0px 25px;
}

#nav_bar #buttons{
    display: flex;
    flex-direction: row;
    margin-right: 40px; 
}

#nav_bar #buttons button {
    height: 60px;
    width: 150px;
    border: none;

    font-size: 24px;
    font-family: Gilroy-Light;
    font-weight: 900px;
}

#login_button {
    color: #444bab;
    background-color: transparent;
}

#sign_up {
    background-image: linear-gradient(91.41deg, #444BAB 0%, #3AA2C1 99.71%);
    color: white;
    border-radius: 6px;
}